html {
     margin: 0;
     padding: 0;
     background: #4AAEC1;
 }
 
/*Fonts*/

h1 {  
    font-family: 'Open Sans', sans-serif;
    color: #EFF3F2;
    font-size: 48px;
    text-shadow: 2px 3px #282557;
    text-transform:uppercase;
}

h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*Social Scroll Bar*/

#social {
    background: #282557;
    color: #EFF3F2;
    width: 150px;
    max-width: 20%;
    position: fixed;
    top: 50px;
    right: 20px;
    cursor: pointer;
    text-align: center;
    padding: 0 10px 0;
}

ul.social-links {
    display: none;
    list-style: none;
}


#social:hover ul.social-links {
    display: block;
}

/*Header*/

header {
    height: 250px;
    background: url(../img/monkey_crystal_tail.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    border: 5px solid #968B77;
}

header li {
    list-style: none;
    display: inline;
}

.subtitle {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: -20px;
    font-family: 'Open Sans', sans-serif;
    color: #EFF3F2;
    text-shadow: 0 2px 3px #282557;
}


header nav {
    margin-top: 50px;
}

.main-nav a {
    text-decoration: none;
    background: red;
    background: #282557;
    border: 2px solid #4AAEC1; 
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    border-radius: 4em;
}

.main-nav a:hover {
    background-color: #EFF3F2;
}

/*Media & Downloads*/

video {
    width: 70%;
    height: auto;
}

.download-button {
    background: #282557;
    border: 2px solid #4AAEC1; 
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    border-radius: 4em;
}

.download-button:hover {
    background-color: #EFF3F2;
}

#listen {
    background: url(../img/monkaa_monkeyhang.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*About*/

#about {
    text-align: center;
}


.lead {
    line-height: 2;
    background-image: linear-gradient(130deg, #c8e6ec, #92ced9, #4AAEC1);  
    font-weight: bold;
}

.headshot {
    height: 150px;
    width: auto;
    border-radius: 50%;
}

.weybec-people {
    list-style: none;
}

.weybec-people li {
    margin-right: 25px;
    float: left;
    padding: 10px 10px;
    text-shadow: 0 2px 3px #555;
	color:#282557;
}

.weybec-people:after {
    content: "";
    display: block;
    clear:both;
}

/*Footer*/

footer {
    text-align: center;
    border: 5px solid #968B77;
    background-image: url(../img/monkaa_title_footer.jpg);
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;    
}

footer li {
    list-style: none;
    display: inline;
}


section {
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border: 5px solid #968B77;
    background: #EFF3F2;
    color: #282557;
    text-align: center;
}

a {
    color: #4AAEC1;
    font-weight: bold;
}

.credits {
    background: rgba(239, 243, 242, 0.4);
    padding: 5px;
}

.main-nav li {
    margin: 10px;
}

/*Icons*/

.twitter a {
    background-image:url("../twitter-icon.png");
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 10px;
    display: block;
    text-indent: 9999px;
}

.facebook a {
    background-image:url("../facebook-icon.png");
    width: 80px;
    height: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;  
    display: block;
    text-indent: 9999px;
}

.instagram a {
    background-image:url("../instagram-icon.png");
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    text-indent: 9999px;
}
