html {
     margin: 0;
     padding: 0;
     background: #4AAEC1;
 }
 
/*Fonts*/

h1 {  
    font-family: 'Open Sans', sans-serif;
    color: #282557;
    font-size: 48px;
}

h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*Social Scroll Bar*/

aside#social {
    background: #8DA5B5;
    color: #EFF3F2;
    width: 200px;
    position: fixed;
    top: 50px;
    right: 20px;
    cursor: pointer;
    text-align: center;
}

ul.social-links {
    display: none;
    list-style: none;
}

aside#social:hover ul.social-links {
    display: block;
}

/*Header*/

header {
    height: 325px;
    background: url(../img/monkaa_monkeyhang.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin-bottom: 10px;
    border: 5px solid #968B77;
    text-align: center;
}

header li {
    list-style: none;
    display: inline;
}

.main-nav a {
    text-decoration: none;
}

/*Media & Downloads*/

video {
    width: 50%;
    height: auto;
}

.download-button {
  background: #282557;
  border: 2px solid #4AAEC1; 
  padding: 5px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  border-radius: 4em;
}

.download-button:hover {
  background-color: #EFF3F2;
}


/*About*/

#about {
    text-align: center;
}

.headshot {
    height: 150px;
    width: auto;
    border-radius: 50%;
}

.weybec-people {
    list-style: none;
}

.weybec-people li {
    margin-right: 25px;
    float: left;
    padding: 10px 10px;
}

.weybec-people:after {
    content: "";
    display: block;
    clear:both;
}

/*Footer*/

footer {
    padding-bottom: 15px;
    margin-top: -5px;
    text-align: center;
    border: 5px solid #968B77;
    background: #EFF3F2;
    color: #282557;
}

footer li {
    list-style: none;
    display: inline;
}

footer a {
    color: #4AAEC1;
}

section {
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border: 5px solid #968B77;
    background: #EFF3F2;
    color: #282557;
    text-align: center;
}

section a {
    color: #4AAEC1;
}